#product-overview {
  background: url('./images/bacc.jpeg') right 10% bottom 45% / cover no-repeat border-box;
  /* background-image: url('./images/log.jpeg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 10% bottom 25%;
  background-origin: border-box;
  background-clip: border-box; */
  width: 100vw;
  height: 60vh;
  margin-top: 1.8rem;
  /* border: 5px dashed red; */
  position: relative;
}
#product-overview h1 {
  color: white;
  position: absolute;
  bottom: 5%;
  left: 2%;
  font-size: 1.6rem;
}
@media (min-width: 48rem) {
  #product-overview {
    height: 100vh;
  }
  #product-overview h1 {
    font-size: 2.5rem;
  }
}

.section-title {
  color: #521751;
  text-align: center;
}

.plan {
  background-color: #f00bec;
  color: antiquewhite;
  padding: 2rem;
  margin: 2rem 0;
  text-align: center;
  width: 100%;
  transition: transform 0.7s;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.plan:hover {
  transform: scale(1.08);
}

.plan--highlighted {
  background-color: #521751;
  color: #fa923f;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.plan__recommended {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  padding: 0.5rem;
  background: #fa923f;
  color: #310330;
  text-align: center;
  border-radius: 8px;
}
.plan__recommended:hover {
  color: #fa923f;
  background: #310330;
}
.plan__title {
  color: #633006;
}
.plan__title-plus,
plan__price-plus {
  color: #fa923f;
}
.plan__price {
  color: #2b1c0f;
}
.plan-list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}
.plan__features li {
  padding: 0.8rem 0;
}

@media(min-width: 48rem) {
  .plan {
    display: inline-block;
    width: 30%;
    margin: 0 3rem;
    vertical-align: middle;
    min-width: 13.9rem;
    max-width: 20rem;
  }
  .plan-list {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}

#key-features {
  margin-top: 2rem;
  padding: 1rem;
}
.key-features-ol {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.key-features--li {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.key-feature__image {
  width: 10rem;
  height: 10rem;
  border: 1px solid #424242;
  border-radius: 50%;
  transition: transform 0.7s;
  margin: 0 auto;
}

.key-feature__image img {
  width: 100%;
  border-radius: 50%;
}
.key-feature__image:hover {
  transform: scale(1.08);
}
.key-features-description {
  color: #521751;
  font-weight: bold;
}

@media(max-width: 48rem) {
  .key-features--li {
    display: block;
    width: 100%;
  }
}

.modal {
  position: fixed;
  display: none; 
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #521751;
  background: #521751;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background:#521751;
  border-color: #521751;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
