* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.section-title {
  color: #521751;
  text-align: center;
}

#product-overview {
  background: url('log.jpeg');
  color: #fa923f;
  height: 527px;
  padding: 20px;
  width: 100%;
}

.plan {
  background-color: #aa09a7;
  color: antiquewhite;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.plan--highlighted {
  background-color: #521751;
  color: #fa923f;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.plan__recommended {
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  font-size: 20px;
  padding: 8px;
  background: #fa923f;
  color: #310330;
  text-align: center;
  border-radius: 8px;
}
.plan__features {
  list-style: none;

}
.plan__features li {
  padding: 10px 0;
}

.main-header {
  width: 100%;
  background:  #fa923f;
  padding: 8px 16px;
}
.main-header__brand {
  color: #310330;
  text-decoration: none;
  font-size: 22px;
  font-weight: bolder;
}
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
.main-nav {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 126px);
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  text-decoration: none;
  color: #310330;
  margin: 0 16px;
  padding: 3px 0;
}
.main-nav__item a:hover,
.main-nav__item a:active
{
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
}

.main-nav__item--cta a{
 color: whitesmoke;
 background: #310330;
 padding: 8px 16px;
 border-radius: 8px; 
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
  background: #ffffff;
  color: #310330;
  border: none;
}
