* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.section-title {
  color: #521751;
  text-align: center;
}

#product-overview {
  background: url('log.jpeg');
  color: #fa923f;
  height: 527px;
  padding: 20px;
  width: 100%;
}

.plan {
  background-color: #f00bec;
  color: antiquewhite;
  padding: 16px;
  margin: 8px;
  text-align: center;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.plan--highlighted {
  background-color: #521751;
  color: #fa923f;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.plan__recommended {
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  font-size: 20px;
  padding: 8px;
  background: #fa923f;
  color: #310330;
  text-align: center;
  border-radius: 8px;
}
.plan__recommended:hover {
  color: #fa923f;
  background: #310330;
}
.plan__title {
color: #633006;
}
.plan__title-plus, plan__price-plus{
  color: #fa923f;
}
.plan__price {
  color: #2b1c0f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;

}
.plan__features li {
  padding: 10px 0;
}
.button {
  background:#fa923f;
  color: #521751;
  font: inherit;
  border: 1.5px solid #521751;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.button:hover,
.button:active {
  cursor: pointer;
  color:#fa923f;
  background: #521751;
}
.button:focus {
  outline: none;
}


.main-header {
  width: 100%;
  padding: 8px 16px;
}
.main-header__brand {
  color: #521751;
  text-decoration: none;
  font-size: 22px;
  font-weight: bolder;
}
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
.main-nav {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 126px);
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  text-decoration: none;
  color: #521751;
  margin: 0 16px;
  padding: 3px 0;
}
.main-nav__item a:hover,
.main-nav__item a:active
{
  color: #fa923f;
  border-bottom: 2px solid #fa923f;
}

.main-nav__item--cta a{
 color: #fa923f;
 background: #310330;
 padding: 8px 16px;
 border-radius: 8px; 
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
  background: #fa923f;
  color: #310330;
  border: none;
}
#key-features {
  
  margin-top: 32px;
  padding: 16px;
}
.key-features-ol {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  
}
.key-features--li {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.key-feature__image {
 background: tomato;
 width: 128px;
 height: 128px;
 border: 2px solid #424242;
 border-radius: 50%;
 margin: 0 auto; 
}

.key-features-description {
  color: #521751;
  font-weight: bold;
}