main {
    padding-top: 2rem;
}

.signup-title {
    text-align: center;
    font-size: 1.8rem;
    color: #521751;
}

.signup-form {
    margin: 1rem;
    padding: 2rem;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.signup-form label {
    font-weight: bold;
    color: #521751;
}

.signup-form label,
.signup-form select,
.signup-form input {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.signup-form input,
.signup-form select {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 1px solid #ccc;
    font: inherit;
    outline: none;
    padding: 0.2rem 0.5rem;
}
.signup-form input:focus,
.signup-form select:focus {
    border-color: #fa923f;
}

/* .signup-form input[type="checkbox"] */
.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label
{
    display: inline-block;
    width: auto;
}

.signup-form button[type="submit"] {
    display: block;
    margin-top: 1rem;
}

@media(min-width: 48rem) {
    .signup-form {
        margin: auto;
        width: 25rem;
    }
}